- if @event
  %h3
    = link_to @event['name'], @event['event_url'], id: 'event-link'
    %h4 Group: #{@group}
    %p Starts: #{@start_time}, Ends: #{@end_time}
  = link_to 'Anything else?', root_path, class: 'btn'
- else
  No nearby events found :(
