- if @event
  %h3
    = link_to @name, @url, id: 'event-link'
    %h4 Group: #{@group}
    %p
      %b Starts:
      #{@start_time}
    %p
      %b Ends:
      #{@end_time}
  = link_to 'Anything else?', root_path, class: 'btn'
- else
  No nearby events found :(
